.game-master-icon {
  color: #f1c40f;
  margin: 0 5px;
}

.eliminated-icon {
  color: #7f8c8d;
  margin: 0 5px;
}

.kick-icon {
  color: #2c3e50;
}

.section {
  margin: 20px auto;
}

#myself {
  text-align: center;

  h1 {
    font-family: 'Acme', sans-serif;
    font-size: 32px;
  }
}

#game-master-actions {

  mat-card-title {
    font-family: 'Acme', sans-serif;
  }

  mat-card-content button {
    margin: 10px 10px;
  }
}

#game-status {

  mat-card {
    background-image: url("https://www.publicdomainpictures.net/pictures/310000/velka/sand-texture-background-1568731959Sq4.jpg");

    mat-card-content p {
      text-align: center;
      font-family: 'Acme', sans-serif;
      font-size: 20px;
      line-height: normal;

      strong {
        font-size: larger;
      }
    }
  }
}

#my-word {
  mat-card-content p {
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 20px;

    strong {
      font-size: larger;
    }
  }
}

#players {

  text-align: center;

  .player-box {

    text-align: center;
    margin: 10px;
    display: inline-block;

    .player-box-card img {
      width: 200px;
    }
  }
}


