<div *ngIf="user === undefined" id="welcome-not-connected">
  <h1>Undercovid</h1>
  <h2>#ResteChezToi</h2>
  <p>
    Crée toi un nom de joueur, et rejoins une partie !<br>
    <mat-form-field appearance="outline">
      <mat-label>Ton pseudo</mat-label>
      <input matInput placeholder="Entre 3 et 24 caractères" type="text" name="username" cdkFocusInitial #username>
      <mat-icon matSuffix>face</mat-icon>
    </mat-form-field><br>
    <button mat-raised-button (click)="joinGame(username.value)" class="uc-accent"
            [disabled]="isBusy || !username.value || username.value.length < 3 || username.value.length > 24">
      Rejoindre une partie
    </button>
  </p>
  <p id="rules" class="aligner">
    <mat-icon aria-label="Les règles du jeu">menu_book</mat-icon>
    <a href="https://docs.google.com/document/d/1EDZ2YxqaB-I0SyUyGoJwJbAEnuiE1FjVnu5MTlKz4X8/edit?usp=sharing" target="_blank">Les règles du jeu</a>
  </p>
  <p>
    Ce jeu s’inspire du jeu Undercover^^ (<a href="https://www.yanstarstudio.com/">YANSTARSTUDIO</a>)
    disponible sur mobile sur <a href="https://apps.apple.com/fr/app/undercover/id946882449">iOS</a> et
    <a href="https://play.google.com/store/apps/dev?id=7207187407796202897&hl=fr">Android</a>.<br>
    Undercovid ne durera que le temps du confinement. Déso pour les auteurs du jeu original.
  </p><p>
    De même, toutes les images utilisées dans l’application ne sont pas forcément libres de droit.<br>
    Et pour ainsi dire je ne sais pas à qui elles appartiennent. Déso encore.
  </p>
</div>
