<div *ngIf="user === undefined" id="welcome-not-connected">
  <h1>Undercovid</h1>
  <h2>#ResteChezToi</h2>
  <p>
    Crée toi un nom de joueur, et rejoins une partie !<br>
    <mat-form-field appearance="outline">
      <mat-label>Ton pseudo</mat-label>
      <input matInput placeholder="Entre 3 et 24 lettres" type="text" name="username" #username>
      <mat-icon matSuffix>face</mat-icon>
    </mat-form-field><br>
    <button mat-raised-button (click)="joinGame(username.value)" color="primary"
            [disabled]="!username.value || username.value.length < 3 || username.value.length > 24">
      Rejoindre une partie
    </button>
  </p>
  <p id="rules" class="aligner">
    <mat-icon aria-label="Les règles du jeu">menu_book</mat-icon>
    <a href="https://docs.google.com/document/d/1EDZ2YxqaB-I0SyUyGoJwJbAEnuiE1FjVnu5MTlKz4X8/edit?usp=sharing" target="_blank">Les règles du jeu</a>
  </p>
</div>
